<div class="side-form">
    <h1>{{title}}</h1>
    <div class="form-container">
          
        <form (ngSubmit)="guardarNorma()">
                
                <div class="form-group">
                        <label for="name">Tipo de Norma</label>
            
                 <select class="form-control" name="TipoNorma"  [(ngModel)]="norma.TipoNorma" [ngModelOptions]="{standalone: true}">
                                
                     
                    <option *ngFor="let tiponorma of tipoNormas" [value]="tiponorma.nombre">{{tiponorma.nombre}}</option>
                               </select>


                </div>

            <div class="form-group">
                <label for="name">Codigo  de la Norma</label>
                <input type="text" name="CodigoNorma" [(ngModel)]="norma.CodigoNorma" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="name">Codigo  de Gestion de la Norma</label>
                <input type="text" name="CodigoGestionNorma" [(ngModel)]="norma.CodigoGestionNorma" class="form-control" required />
            </div>
           
            <div class="form-group">
                <label for="name">Titulo de la Norma</label>
                <input type="text" name="TituloNorma" [(ngModel)]="norma.TituloNorma" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="name">Registro del responsable de la Norma</label>
               
                <select class="form-control" name="RegistroResponsable"  [(ngModel)]="norma.RegistroResponsable" [ngModelOptions]="{standalone: true}">
                        
             
                 <option *ngFor="let registro of registroResponsables" [value]="registro.nombre">{{registro.nombre}}</option>
                       </select>
            
            </div>
            <div class="form-group">
                <label for="name">Fecha Vigencia</label>
                <input type="date" name="FechaVigencia" [(ngModel)]="norma.FechaVigencia" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="name">Registro Norma Externa</label>
                <input type="text" name="RegistroNorma" [(ngModel)]="norma.RegistroNorma" class="form-control" required />
            </div>
            <div class="form-group">
                <a class="btn btn-default" routerLink="/normas">Cancelar</a>
                <button class="btn btn-primary" >Guardar</button>
            </div>
        </form>
    </div>
</div>