<h1>Normas</h1>
<a routerLink="add" class="btn btn-default">Agregar Normas</a>
<table class="table products-table">
    <tr>
        <th>TipoNorma</th>
        <th>CodigoNorma</th>
        <th>CodigoGestionNorma</th>
        <th>TituloNorma</th>
        <th>RegistroResponsableNorma</th>
        <th>FechaVigencia</th>
        <th>RgistroNormaExterna</th>
        <th class="delete-column"></th>
    </tr>
    <tr *ngFor="let norma of normas">
        <td><a [routerLink]="['edit', norma.id]">{{norma.TipoNorma}}</a></td>
        <td>{{norma.CodigoNorma}}</td>
        <td>{{norma.CodigoGestionNorma}}</td>
        <td>{{norma.TituloNorma}}</td>
        <td>{{norma.RegistroResponsable}}</td>
        <td>{{norma.FechaVigencia}}</td>
        <td>{{norma.RegistroNorma}}</td>
        <td><a (click)="deleteNorma(norma.id)" class="btn btn-xs btn-danger">Delete</a></td>
    </tr>
</table>
<div class="view-side-form">
    <router-outlet></router-outlet>
</div>